:root {
  --fg: #000;
  --lime-cream: #e1ff9c;
  --lime-cream-2: #bde858;
  --light-gold: #fff491;
  --banana-cream: #ffe44d;
  --icy-blue: #c2ecff;
  --maya-blue: #70bcff;
  --powder-blush: #efb0a1;

  --wave-height: 20px;
  --nav-content-height: 80px;
  --nav-height: var(--nav-content-height);
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "SS Pretzel", sans-serif;
}

* {
  box-sizing: border-box;
}

nav {
  background: var(--lime-cream);

  width: 100%;
  height: var(--nav-content-height);
  position: sticky;
  top: 0px;
  z-index: 2; /* Appear above carousel controls */

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 30px;
  padding: 0 30px;

  > .logo {
    flex: 1 0 auto;
    font-size: 20px;
  }
  a {
    color: var(--fg);
    text-decoration: none;
  }
  > .links {
    flex-grow: 1;

    display: flex;
    flex-flow: row wrap;
    gap: 10px 30px;
    justify-content: end;

    > details {
      margin: 0;
      padding: 0;

      > summary {
        > svg {
          vertical-align: middle;
          width: auto;
          height: 1em;
        }
      }

      > ul {
        position: fixed;
        z-index: 1; /* Appear above the wave */
        top: var(--nav-content-height);
        right: 0;

        margin: 0;
        padding: 0;

        list-style-type: none;
        background: var(--lime-cream);

        > li {
          margin: 20px;
        }
      }
    }
  }
}

/* Add the wave at the bottom of the <nav> and <header>. */
header {
  &::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    background: var(--lime-cream);
    width: 100%;
    height: var(--wave-height);
    mask: url("svg/wavy.svg") repeat-x 120px 0 / 800px var(--wave-height);
  }
}

*[id] {
  scroll-margin-top: calc(var(--nav-height) + 10px);
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  > section {
    h2 {
      margin-top: 0px;
      font-size: 1.8em;
    }
    h3 {
      font-size: 1.5em;
    }

    --border-size: 100px;
    --border-repeats: 10;
    --border-color: var(--powder-blush);
    --bg-color: color-mix(in oklab, var(--border-color), white 95%);
    width: round(down, 100%, var(--border-size));
    max-width: calc(var(--border-size) * 8);
    padding: calc(var(--border-size) * 0.7) calc(var(--border-size) * 0.5);
    margin: 80px 0 var(--border-size) 0;
    position: relative;

    > .bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: round(up, 100%, var(--border-size));
      z-index: -1;

      &::before {
        content: "";
        position: absolute;
        --margin: calc(var(--border-size) * 0.12);
        top: var(--margin);
        left: var(--margin);
        width: calc(100% - 2 * var(--margin));
        height: calc(100% - 2 * var(--margin));
        background: var(--bg-color);
        border-radius: calc(var(--border-size) * 0.9);
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--border-color);
        mask:
          url("svg/corner/0.svg") no-repeat top left / var(--border-size)
            var(--border-size),
          url("svg/corner/1.svg") no-repeat top right / var(--border-size)
            var(--border-size),
          url("svg/corner/2.svg") no-repeat bottom right / var(--border-size)
            var(--border-size),
          url("svg/corner/3.svg") no-repeat bottom left / var(--border-size)
            var(--border-size);
      }

      > .v-edge {
        position: absolute;
        top: 0;
        left: var(--border-size);
        width: calc(100% - 2 * var(--border-size));
        height: 100%;

        background: var(--border-color);
        mask:
          url("svg/edge/0.svg") repeat-x top left /
            calc(var(--border-repeats) * var(--border-size)) var(--border-size),
          url("svg/edge/2.svg") repeat-x bottom left /
            calc(var(--border-repeats) * var(--border-size)) var(--border-size);
      }

      > .h-edge {
        position: absolute;
        top: var(--border-size);
        left: 0;
        width: 100%;
        height: calc(100% - 2 * var(--border-size));

        background: var(--border-color);
        mask:
          url("svg/edge/3.svg") repeat-y top left / var(--border-size)
            calc(var(--border-repeats) * var(--border-size)),
          url("svg/edge/1.svg") repeat-y top right / var(--border-size)
            calc(var(--border-repeats) * var(--border-size));
      }

      > .rhs {
        display: none;
      }
    }

    @media (width >= 1200px) {
      margin-right: 300px;

      > .bg > .rhs {
        display: block;
        position: absolute;
        top: 0;
        right: -300px;
        width: 300px;
        height: 100%;

        > div {
          position: sticky;
          top: var(--nav-height);
          left: 0;
          width: 100%;
          height: 420px;

          > .bubble {
            position: absolute;
            width: var(--border-size);
            height: var(--border-size);
            &::before,
            &::after {
              content: "";
            }
            &::before {
              background: var(--bg-color);
              display: block;
              width: 100%;
              height: 100%;
              border-radius: 50%;
            }
            &::after {
              background: var(--border-color);
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
            }
            &.small {
              top: 150px;
              right: 50px;
              padding: 33px 33px;
              &::after {
                mask: url("svg/small-bubble.svg") no-repeat 0 0 / 100% 100%;
              }
            }
            &.big {
              top: 60px;
              right: 180px;
              padding: 2px 13px;
              &::before {
                rotate: 30deg;
              }
              &::after {
                mask: url("svg/big-bubble.svg") no-repeat 0 0 / 100% 100%;
              }
            }
          }
          > img {
            position: absolute;
            width: 220px;
            right: 0;
            bottom: 0;
          }
        }
      }
    }
  }
}

.splide {
  > .splide__pagination {
    bottom: -1.3em;
    .splide__pagination__page {
      width: 28px;
      height: 6px;
      border-radius: 6px;
      margin: 3px 6px;
      &.is-active {
        background: #aaa;
        opacity: 0.9;
        transform: none;
        transition:
          background 0.2s linear,
          opacity 0.2s linear;
      }
    }
  }
}

@font-face {
  font-family: "SS Pretzel";
  /* TODO: Maybe convert to WOFF2 */
  src: url("../fonts/SS Pretzel/OTF/SS Pretzel.otf");
  font-display: block;
}
