header {
  background: var(--lime-cream);
  min-height: calc(95vh - var(--nav-content-height) - var(--wave-height));
  margin-bottom: var(--wave-height);

  /* Make the content look vertically centred */
  padding-bottom: var(--nav-height);

  position: relative;

  display: flex;
  flex-flow: row wrap;
  align-items: center;

  > .logo {
    flex-grow: 1;
    text-align: center;
  }
  > .series-carousel {
    flex-grow: 1;
    max-width: 100%;
    padding: 16px;

    > .splide {
      max-height: 60vh;
      --aspect-ratio: 1.05;
      aspect-ratio: var(--aspect-ratio);
      margin: 0 auto;
      --padding: 15%;

      > .splide__track {
        height: 100%;

        mask: linear-gradient(
          to right,
          transparent 0%,
          black 15%,
          black 85%,
          transparent 100%
        );

        > .splide__list > .splide__slide {
          width: 100%;
          display: flex;
          justify-content: center;
          --scale: 1.03;
          /*
		   * Because of the mask, scaling the image up will clip it, so we shrink the image a little
		   * instead by adding vertical padding. Suppose the carousel has height `h`, and let our
		   * padding value be `p`. Since padding % is a % of the parent width, we have:
		   * h = h / var(--scale) + 2 * p * (1 - 2 * var(--padding)) * var(--aspect-ratio) * h
		   *
		   * (Unfortunately, this doesn’t work on Firefox:
		   * https://caniuse.com/mdn-css_types_calc_typed_division_produces_unitless_number)
		   */
          padding: calc(
              (50% - 50% / var(--scale)) / (1 - 2 * (var(--padding) / 100%)) /
                var(--aspect-ratio)
            )
            0;
          > div {
            position: relative;
            cursor: pointer; /* counteract `pointer-events: none` on <a> */
            > a > img {
              height: 100%;
              width: auto;
              transition: scale 0.2s ease;
            }
            &:hover > a > img {
              scale: var(--scale);
            }
            > .icons {
              position: absolute;
              top: 14px;
              right: 14px;
              opacity: 0.8;
              display: flex;
              flex-flow: row wrap;
              gap: 8px;
              > a > svg,
              > a > img {
                width: 40px;
                height: 40px;
              }
            }
          }
          &:not(.is-visible) a {
            pointer-events: none;
          }
        }
      }
    }
  }
}

.card {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  &:not(:last-child) {
    margin-bottom: 50px;
  }

  > .preview.splide {
    flex-grow: 1 1 150px;
    max-width: 300px;
    margin-bottom: 20px;
    img {
      width: 100%;
    }
    > .splide__track {
      cursor: pointer;
    }
  }

  > div {
    flex: 1 1 150px;
    > h3 {
      margin: 0;
    }
    > .info {
      a {
        color: var(--fg);
      }
      opacity: 0.5;
    }
  }
}

#fullscreen {
  display: none;

  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;

  &.shown {
    display: block;
  }

  .splide__slide {
    width: 100vw;
    height: 100vh;

    background: black;

    display: flex;
    align-items: center;
    justify-content: center;

    > img {
      max-width: 100vw;
      max-height: 100vh;
    }
  }

  > .splide__pagination {
    display: none;
  }
  > .splide__arrows > .splide__arrow {
    width: 2.5em;
    height: 2.5em;
  }
}

.splide > .fullscreen {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 2.5em;
  height: 2.5em;
  z-index: 1;

  background: #ccc;
  border: none;
  opacity: 0.7;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  > svg {
    width: 1.2em;
    height: 1.2em;
    stroke: #000;
    stroke-width: 1.5px;
  }
  &:hover {
    opacity: 0.9;
  }
}
